{% extends "home.html" %}


{% block dashboard_content %}
<div class="container-sm dashboard">
  <div class="row sidebar-row">
    <div class="col-md-3 menus list-group">
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'thinglist' else '' }}"
        href="{{ url_for('dashboard.thinglist') }}">
        Thinglist
      </a>
<!--      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'addDevice' else '' }}"
        href="{{ url_for('dashboard.addDevice') }}">
        Add Device
      </a>-->
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'deleteDevice' else '' }}"
        href="{{ url_for('dashboard.deleteDevice') }}">
        Delete Device
      </a>
      <hr>
    </div>
    <div class="col-md-9">


<h2 class="mb-5">Delete Device</h2>


<div class="container-sm dashboard">
    <div class="row">
        <div class="col">
            <div class="row sidebar-row">
                <div class="col-md-9 main">
                <form class="delete-form" method="POST" action="{{url_for('policy_api.deleteDevice')}}">
                    <div>
                        <div class="form-group">
                            <ul>
                            {% for thing_id in thing_ids %}
                            <li><input type="radio" name="thing_id" value="{{thing_id}}">{{ thing_id }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger" type="submit">
                            Delete
                            </button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>


{% endblock dashboard_content %}


{% block script %}
{{ super() }}
<script src="{{url_for('static', filename='js/delete2.js')}}"></script>
{% endblock script%}