{% extends "home.html" %}


{% block dashboard_content %}
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: #4CAF50;
  color: white;
}
</style>

<h2 class="mb-5 text-center">Get Policy</h2>
<br>

<div class="container-sm dashboard">
    <div class="row">
        <div class="col">
            <div class="row sidebar-row">
                <div class="col-md-15 main mx-auto">
                <form class="delete-form" method="POST" action="{{url_for('policy_api.policylist')}}">
                    <div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>Actor</th>
                                    <th>Actee</th>
                                </tr>
                                {% for policies_id, policies_info in policies_ids.items() %}
                                    <tr>
                                        <td>{{ policies_id }}</td>
                                        <td>{{ policies_info["description"] }}</td>
                                        <td>{{ policies_info["device_actor"]["type"] }}</td>
                                        <td>{{ policies_info["device_actee"]["type"] }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </form>
                    <br>
                    <br>
                    <p><b>*</b> actor means the device that starts the action, the actee means the device on which the action is done</p>
                    <p>if a <b>*</b> is used on either the actor or the actee, it means that any device can be used for it</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock dashboard_content %}
