{% extends "home.html" %}


{% block dashboard_content %}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: #4CAF50;
  color: white;
}
</style>

<div class="container-sm dashboard">
  <div class="row sidebar-row">
    <div class="col-md-3 menus list-group">
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'thinglist' else '' }}"
        href="{{ url_for('dashboard.thinglist') }}">
        Thinglist
      </a>
<!--      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'addDevice' else '' }}"
        href="{{ url_for('dashboard.addDevice') }}">
        Add Device
      </a>-->
      <a class="list-group-item list-group-item-action {{ 'active' if tagname == 'delete2' else '' }}"
        href="{{ url_for('dashboard.delete2') }}">
        Delete Device
      </a>
      <hr>
    </div>
    <div class="col-md-9">
<h2 class="mb-5">List of Things</h2>



<div class="container-sm dashboard">
    <div class="row">
        <div class="col">
            <div class="row sidebar-row">
                <div class="col-md-9 main">
                <form class="delete-form" method="POST" action="{{url_for('policy_api.thinglist')}}">
                    <div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                </tr>
                                {% for thing_id, thing_info in thing_ids.items() %}
                                    <tr>
                                        <td>{{ thing_id }}</td>
                                        <td>{{ thing_info["title"]}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
  </div>
</div>
{% endblock dashboard_content %}
